<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.borisruzanov.russianwives">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.borisruzanov.russianwives.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_application_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <service android:name=".zHOLD.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".ui.MainActivity"
            android:configChanges="screenSize|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".zTEST.ChatUdacityActivity" />
        <activity android:name=".ui.ProfileSettingsActivity" />
        <activity
            android:name=".zHOLD.AllUsersActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity android:name=".zHOLD.ProfileActivity">
            <intent-filter>
                <action android:name="com.borisruzanov.russianwives_TARGET_NOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ChatActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity android:name=".zHOLD.StatusActivity" />
        <activity
            android:name=".zTEST.SettingsProfileBasics"
            android:parentActivityName=".ui.ProfileSettingsActivity" />
        <activity
            android:name=".ui.MyProfile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".zTEST.UserInfoViewPager" />
        <activity
            android:name=".ui.slider.SliderActivity"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.borisruzanov.russianwives.ui.MainActivity" />
        </activity>
        <activity android:name=".ui.FriendActivity"></activity>

    </application>

</manifest>